__pycache__/
*.pyc
.env
node_modules/
build/
.venv/

#ogawa-memo : ignore .codex 
.codex

#ogawa-memo : docs is folder for codex to storage their implemantation plan, program documents and walkthrough 
docs/
